# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Files
.env
.env.local

# Databases
*.sqlite
*.db

# OS Files
.DS_Store

# Editor
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
